Example/Accelerated AI Adoption - Group 1 Check-in 2026-03-25.md
Example/Accelerated AI Adoption - Group 1 Check-in 2026-04-08.md
Example/Accelerated AI Adoption - Group 2 Check-in 2026-03-18.md
Example/Accelerated AI Adoption - Group 2 Check-in 2026-04-01.md
